<!-- Sidebar -->
<div class=" text-[#000] w-full min-h-screen hidden md:block shadow-xl">
    <div class="p-4">
        <h2 class="text-4xl text-bold font-semibold">Menu</h2>
        <ul class="mt-4 space-y-2">
            <li><a href="#" class="block p-3 rounded-lg text-2xl bg-blue-300 text-white hover:bg-blue-700 hover:text-gray-200">Dashboard</a></li>
            <li><a href="#" class="block p-3 rounded-lg text-2xl bg-blue-300 text-white hover:bg-blue-700 hover:text-gray-200">Profile</a></li>
            <li><a href="#" class="block p-3 rounded-lg text-2xl bg-blue-300 text-white hover:bg-blue-700 hover:text-gray-200">Setings</a></li>
            <!-- Add more sidebar items as needed -->
        </ul>
    </div>
</div>