<%- include("./partials/header") %>

    <nav class="navbar">
        <h3 class="log">Racine14 <small>Creator</small></h3>
        <div class="menu">
            <ul class="flex">
                <li><a href="#" class="p-3 bg-gray-300 rounded-md cursor-pointer m-2">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#" class="btn primary-btn">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="flex-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum impedit perspiciatis odio ex eos nam! Dolorum quasi maiores incidunt dicta.
        </div>
        <div class="flex-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat a enim nihil earum temporibus accusamus harum ducimus, exercitationem non ullam, maxime itaque recusandae debitis excepturi libero, aliquam at illum dolor sapiente? Quasi quaerat modi, quo totam exercitationem possimus amet hic nemo natus illo, doloribus blanditiis iste id explicabo facilis necessitatibus molestiae placeat ratione veniam corrupti unde eos at labore. Asperiores doloremque commodi dolorum architecto provident corporis, officia delectus nostrum aliquam doloribus illo minima laborum ipsum illum ea neque quasi voluptas recusandae quas, alias harum veniam tempore repudiandae! Dolores, doloribus aliquid. Sunt nesciunt corporis vitae placeat, enim iste ex impedit fuga.
        </div>
    </div>

</body>
</html>
