<%- include("./partials/header") %>

    <!-- Navigation Bar -->
    <nav class="bg-white-500 p-4 text-[#000] max-w-[1240px] m-auto shadow-sm">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <div>
                    <a href="#" class="text-lg font-bold">Racine14 Creator</a>
                </div>
                <div class="hidden md:flex space-x-4">
                    <a href="#" class="hover:text-black-200">Home</a>
                    <a href="#" class="hover:text-black-200">About</a>
                    <a href="#" class="hover:text-black-200">Services</a>
                    <a href="#" class="hover:text-black-200">Contact</a>
                </div>
                <div class="md:hidden">
                    <!-- Mobile menu button (can be implemented with JavaScript) -->
                    Mobile 
                </div>
            </div>
        </div>
    </nav>

    <div class="flex">
        <div class="w-1/4 p-4">
            <%- include("./partials/Sidebar")%>
        </div>
        <div class="w-3/4 p-4">
            <%- include("./partials/Main")%>
        </div>
    </div>

</body>
</html>
